body {
    font-family: Arial, sans-serif;
    background-color: #2b2b2b;
    color: #fff;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.column {
    flex: 1;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
}

.task-list {
    min-height: 200px;
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
}

.task {
    margin: 5px 0;
    padding: 5px;
    background-color: #555;
    border: 1px solid #444;
    border-radius: 3px;
}

.column + .column {
    margin-left: 20px;
}

/* CSS for action buttons */
.action-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.action-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #45a049;
}

/* CSS for action wrapper */
.action-wrapper {
    background-color: #4CAF50; /* Same color as button */
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CSS for delete dropzone */
.dropzone {
    background-color: #4CAF50;
    padding: 10px;
    border: 2px dashed #4CAF50; /* Same color as button */
    border-radius: 5px;
    text-align: center;
    width: 200px;
    color: #000;
}

/*CSS for cards*/
.card {
    background-color: #444;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 5px;
}

.card-content {
    font-size: 14px;
}

.card-content div {
    margin-bottom: 5px;
}

.card-content strong {
    color: #ddd;
}

.card .description {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.5em; /* Adjust the size as needed */
}


/* CSS for delete button */
.delete-button {
    padding: 5px;
    background-color: #ccc; /* Grey background */
    color: #fff; /* White text color */
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #999; /* Darker grey on hover */
}

/* Styles for arrow buttons */
.arrow-button {
    background-color: #ccc; /* Grey background */
    color: #fff; /* White text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    padding: 5px 10px; /* Padding */
    cursor: pointer; /* Cursor style */
    font-size: 16px; /* Font size */
}

/* Styles for arrow direction */
.arrow-button.left::before {
    content: '\u25C0'; /* Unicode for left arrow */
}

.arrow-button.right::before {
    content: '\u25B6'; /* Unicode for right arrow */
}

/* Hover effect */
.arrow-button:hover {
    background-color: #999; /* Darker grey background on hover */
}

.card button {
    margin-right: 5px; /* Adjust this value as needed */
}

